{# Setup variables -#}
{%- set koc = ('%.7f' % adsorption.koc).rstrip('0').rstrip('.') -%}
{% if adsorption.limit_freundl == 0 -%}
    {% set limit_freundlich = "0.00E+00" -%}
{% else -%}
    {% set limit_freundlich = "%1.0E" % adsorption.limit_freundl -%}
{% endif -%}
{# Write line -#}
{{ ' ' -}}{{ koc -}}
{{ '         ' -}}{{adsorption.freundlich -}}
{{ '       ' -}}{{adsorption.pH -}}
{{ '          '}}{{adsorption.pKa -}}
{{ '         ' }}{{ limit_freundlich -}}
{{ '          ' }}{{adsorption.annual_increment -}}
{{ '      ' }}{{adsorption.k_doc -}}
{{ '     ' }}{{ adsorption.percent_change -}}
{{'    '}}{{adsorption.koc2 -}}
{{'    '}}{{adsorption.pH2 -}}
{{'     '}}{{adsorption.f_neq -}}
{{'     '}}{{adsorption.kdes -}}
{{' \n' -}}