<APPLICATION>
 {{ (crop.defined_scenarios | length ) + 1}}    0    0    <number of locations absolute app/relative app>
{% for scenario in application.defined_scenarios %}{{ "%03d" % (application.application_data(scenario) | list | length)}}            <number of application location>
{% for application_event in application.application_data(scenario) %}{% include "psm-fragments/application.j2" %}{% if not loop.last%}
{% endif%}{% endfor %}
 {{ application.type.value }}    <pesticide appl. flag: 1=soil 2 =linear 3=exp. foliar 4=manually>{% if not loop.last%}
{% endif %}{% endfor %}
<END APPLICATION>