{# Setup variables -#}
{% set name_scenario = name_scenario | default(True) -%}
{# Write section -#}
{% for scenario in scenarios -%}
    {% include "psm-fragments/scenario_application.j2" -%}
{% endfor -%}