{{'<APPLICATION>\n' -}}
{{' ' -}}
{{ '{0: <2}'.format(( scenarios | length ) + 1) -}}
{{'    0    0    <number of locations absolute app/relative app>\n' -}}
{% with current_gap = dummy_gap, name_scenario = False, scenario = scenarios.__iter__().__next__() -%}
    {% include "psm-fragments/scenario_application.j2" -%}
{% endwith -%}
{% with current_gap = gap -%}
    {% include "psm-fragments/application-section.j2" -%}
{% endwith -%}
{{' ' -}}{{ application.type.value -}}
{{'    <pesticide appl. flag: 1=soil 2 =linear 3=exp. foliar 4=manually\n' -}}
{% if application.type.value != 1 -%}
    {% include "psm-fragments/fate-on-crop.j2" -%}
{% endif -%}
{{'<END APPLICATION>\n' -}}