{# Setup variables -#}
{% set name_scenario = name_scenario | default(True) -%}
{# Write section -#}
{% for scenario in current_gap.defined_scenarios -%}
    {# Header -#}
    {{ "%03d" % (current_gap.application_data(scenario) | list | length) -}}
    {% if name_scenario -%}
        {{'         '}}{{ scenario.name }}{{'   ' -}}
    {% else -%}
        {{'            ' -}}
    {% endif -%}
    {{'<number of application location>\n' -}}
    {# List of applications -#}
    {# Reset interception for scenario -#}
    {% set ns = namespace(interception = -1) -%}
    {% for application_event in current_gap.application_data(scenario) -%}
        {% if (not pessimistic_interception) or (ns.interception == -1) -%}
            {% set ns.interception = application_event[1] -%}
        {% endif -%}
        {% include "psm-fragments/application.j2" -%}
    {% endfor -%}
{% endfor -%}