 {% if degradation.rate == 0 %} {{ '%.2E' % degradation.rate }}{% else %}{{ degradation.rate }}{% endif %}   {{ degradation.temperature }}          {{ degradation.q10}}        {{ degradation.moisture.absolute }}           {{ degradation.moisture.relative }}         {{ degradation.moisture.exp }}       {{ degradation.rel_deg_new_sites}}         {{ degradation.formation_factor }}