 {{ compound.fate_on_crop.plant_decay_rate }}    {{ compound.fate_on_crop.washoff_parameter }}  {{ compound.fate_on_crop.penetration }}    {{ compound.fate_on_crop.photodegradation }}    {{ compound.fate_on_crop.reference_irradiance }}    {{ compound.fate_on_crop.laminar_layer }}                <plant decay rate;washoff parameter;penetration;photdegradation;Reference irradiance;laminar layer>
