{# Setup variables -#}
{%- set washoff = ('%.7f' % compound.fate_on_crop.washoff_parameter).rstrip('0').rstrip('.') -%}
{# Write line -#}
{{ ' ' }}{{ compound.fate_on_crop.plant_decay_rate -}}
{{'    '}}{{ washoff -}}
{{'  '}}{{ compound.fate_on_crop.penetration -}}
{{'    '}}{{ compound.fate_on_crop.photodegradation -}}
{{'    '}}{{ compound.fate_on_crop.reference_irradiance -}}
{{'    '}}{{ compound.fate_on_crop.laminar_layer -}}
{{'                ' -}}
{{'<plant decay rate;washoff parameter;penetration;photodegradation;Reference irradiance;laminar layer>\n' -}}