{# Setup variables -#}
{%- set molar_mass = ('%.7f' % metabolite.molar_mass).rstrip('0').rstrip('.')-%}
{# Write metabolite section -#}
{{ '###############################################\n' -}}
{{'<COMMENT>\n' -}}
    {{'METABOLITE '}}{{ metabolite.position -}}
    {{'     Metabolite '}}{{ metabolite.name -}}
    {{'\n' -}}
{{'<END COMMENT>\n' -}}
{{'<FLAGS>\n' -}}
    {{' 1   <kd_flag(0=direct 1=calc.)>\n' -}}
{{'<END FLAGS>\n' -}}
{{'<MOLMASS>\n' -}}
    {{' '}}{{ molar_mass }}{{'\n' -}}
{{'<END MOLMASS>\n' -}}
{% with plant_uptake = metabolite.plant_uptake -%}
    {% include "psm-fragments/plant-uptake.j2" -%}
{% endwith -%}
{{ '\n' -}}
{% with compound = metabolite -%}
    {% include "psm-fragments/metabolite-degradation.j2" -%}
{% endwith -%}
{{ '\n' -}}
{{'<ADSORPTION>\n' -}}
{{'<Koc-value    Fr.exp.Koc  pH          pKa     ' -}}
{{'limit for Freundl.  ann.incr.> <k_doc> <% change> KOC2      pH2    f_neq       kdes>\n' -}}
{% for adsorption in metabolite.adsorptions -%}
    {% include "psm-fragments/adsorption.j2" -%}
{% endfor -%}
{{'\n' -}}
{{'<END ADSORPTION>\n' -}}
{{'<DEPTH DEPENDENT SORPTION AND TRANSFORMATION VALUES>\n' -}}
{{'<Kd          Fr.exp.     BR/CO2   Met D2   BR/CO2   BR/CO2 >\n' -}}
{{'<END DEPTH DEPENDENT>\n'}}