{%- set photodegradation = ('%.7f' % degradation.photodegradation).rstrip('0').rstrip('.') -%}
{%- set reference_irradiance = ('%.7f' % degradation.reference_irradiance).rstrip('0').rstrip('.') -%}
{{ ' ' }}{{ photodegradation }}   {{ reference_irradiance }}{{ ' ' }}