{# Setup variables -#}
{%- set solubility = ('%.7f' % volatization.solubility).rstrip('0').rstrip('.')-%}
{%- set molmass = ('%.7f' % compound.molar_mass).rstrip('0').rstrip('.')-%}
{%- set temperature = ('%.7f' % volatization.temperature).rstrip('0').rstrip('.') -%}
{# Write line -#}
{{'  '}}{{ '%.2E' % volatization.henry -}}
{{'   '}}{{ solubility -}}
{{'    '}}{{ molmass -}}
{{'     '}}{{ '%.2E' % volatization.vaporization_pressure -}}
{{'   '}}{{ volatization.diff_air -}}
{{'    '}}{{ volatization.depth_volatility -}}
{{'    '}}{{ volatization.hv -}}
{{'    '}}{{ temperature -}}
{{' \n'}}
