{{'Universe            = Vanilla\n' -}}
{{'Executable          = pythonwrapper.bat\n' -}}
{{'\n' -}}
{% for batch_info in batches -%}
    {{'Arguments = ' -}}
        {{ batch_info[0] -}}
        {{' focusStepsPelmo.pelmo.runner' -}}
        {{' -p '}}{{ batch_info[0] -}}
        {{' -w '}}{{ batch_info[0] }}{{'-work' -}}
        {{' -c '}}{{ batch_info[1].name -}}
        {{' -s'}}{% for scenario in batch_info[2] -%}
            {{' '}}{{ scenario.name -}}
        {% endfor -%}
        {{' --logfile '}}{{ batch_info[0] }}{{'-log.json' -}}
        {{' -o '}}{{ batch_info[0] }}{{'-output.json' -}}
    {{'\n' -}}
    {{'transfer_input_files = ' -}}
        {{'common.zip,' -}}
        {{ batch_info[0] }}{{'.zip,' -}}
        {{'requirements.txt' -}}
    {{'\n' -}}
    {{'transfer_output_files = ' -}}
        {{ batch_info[0] }}{{'-output.json,' -}}
        {{ batch_info[0] }}{{'-log.json' -}}
        {{'\n' -}}
    {{'Queue\n' -}}
{% endfor %}