{{ "%02d" % application.offset }}  {{ "%02d" % application.stage.value }}  {{ "%02d" % year }}   {{ application.rate }}    {{ application.upper_depth| default(0) }}    {{ application.lower_depth | default(0)}}    {{ "%d" % crop.get_interception(application.timing.bbch_state)  }}    {{application.ffield}}    {{application.frpex}}    {{application.time}}   <day month year app_rate obere und untere app_Tiefe Ffield frpex time>