  {{ '%.2E' % degradation.to_disregard.rate }}   {{ degradation.to_disregard.temperature }}          {{ degradation.to_disregard.q10}}        {{ degradation.to_disregard.moisture.absolute }}           {{ degradation.to_disregard.moisture.relative }}         {{ degradation.to_disregard.moisture.exp }}       {{ degradation.to_disregard.rel_deg_new_sites}}         {{ degradation.to_disregard.formation_factor }}