 {% if degradation.rate == 0 %} {% endif %}{{ '%.2E' % degradation.rate }}   {{ degradation.temperature }}          {{ degradation.q10}}        {{ degradation.moisture.absolute }}           {{ degradation.moisture.relative }}         {{ degradation.moisture.exp }}       {{ degradation.rel_deg_new_sites}}         {{ degradation.formation_factor }}