###############################################
<COMMENT>
METABOLITE {{ metabolite.name }}     Metabolite {{ metabolite.name}}
<END COMMENT>
<FLAGS>
 1   <kd_flag(0=direct 1=calc.)>
<END FLAGS>
<MOLMASS>
 {{ metabolite.molar_mass }} 
<END MOLMASS>
<PLANT UPTAKE>
 {{ metabolite.plant_uptake }}      <plant uptake factor>
<END PLANT UPTAKE>
<DEGRADATION>
<degrate    degtemp     q10         moist-abs   moist-rel   moist-exp  <rel deg in neq sites> stoichiometric factor
  0.00E+00   20          2.58        0           100         0.7       0         1        <BR/CO2>
  0.00E+00   20          2.58        0           100         0.7       0         1        <Met D2>
  0.00E+00   20          2.58        0           100         0.7       0         1        <BR/CO2>
 0.1386294   20          2.58        0           100         0.7       0         1        <BR/CO2>
 0                 <0 = degradation according to degradation factors, 1 = constant with depth,2 individual,3 = degradation according to degradation factors, 4 = constant with depth,5 individual, >2 deg in liquid phase only)
<END DEGRADATION>
<ADSORPTION>
<Koc-value    Fr.exp.Koc  pH          pKa     limit for Freundl.  ann.incr.> <k_doc> <% change> KOC2      pH2    f_neq       kdes>
 0           0.9        -99          20          1E-20            0      0     1000    -99    -99     0     0 
<END ADSORPTION>
<DEPTH DEPENDENT SORPTION AND TRANSFORMATION VALUES>
<Kd          Fr.exp.     BR/CO2   Met D2   BR/CO2   BR/CO2 >
<END DEPTH DEPENDENT>