{# Setup variables -#}
{%- set solubility = ('%.7f' % volatilization.solubility).rstrip('0').rstrip('.')-%}
{%- set molmass = ('%.7f' % compound.molar_mass).rstrip('0').rstrip('.')-%}
{%- set temperature = ('%.7f' % volatilization.temperature).rstrip('0').rstrip('.') -%}
{# Write line -#}
{{'  '}}{{ '%.2E' % volatilization.henry -}}
{{'   '}}{{ solubility -}}
{{'    '}}{{ molmass -}}
{{'     '}}{{ '%.2E' % volatilization.vapor_pressure -}}
{{'   '}}{{ volatilization.diff_air -}}
{{'    '}}{{ volatilization.depth_volatility -}}
{{'    '}}{{ volatilization.hv -}}
{{'    '}}{{ temperature -}}
{{' \n'}}
